<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
 
  RewriteRule ^index/?$  [NC,L]
  RewriteRule ^loguber/?$ loguber.php [NC,L]
  RewriteRule ^servicos/?$ servicos.php [NC,L]
  RewriteRule ^rastreamento/?$ rastreamento.php [NC,L]
  RewriteRule ^tecnologia/?$ tecnologia.php [NC,L]
  RewriteRule ^franquia/?$ franquia.php [NC,L]
  RewriteRule ^noticias/?$ noticias.php [NC,L]
  RewriteRule ^motoristas/?$ motoristas.php [NC,L]
  RewriteRule ^contato/?$ contato.php [NC,L]
  RewriteRule ^responsabilidade-social/?$ responsabilidade-social.php [NC,L]
  RewriteRule ^trabalhe-conosco/?$ trabalhe-conosco.php [NC,L]
  
  ErrorDocument 404 /404.php
  
  RewriteRule ^por-que-saber-o-minimo-de-logistica/?$ por-que-saber-o-minimo-de-logistica.php [NC,L]
</IfModule>
