/* Sticky footer styles
-------------------------------------------------- */
.footer {
  background: #2a3f50;
  border-bottom: 15px solid #ea4f3d;
  bottom: 0;
  color: #fff;
  padding-top: 20px;
  text-align: center;
  /* Set the fixed height of the footer here */
  ul {
    margin-top: 20px;
    padding-left: 0;
    &.social-menu {
      li {
        display: inline;
        margin-left: 5px;
        span {
          color: #fff;
          transition: all 1s ease;
          -o-transition: all 1s ease;
          -ms-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -webkit-transition: all 1s ease;
          &:hover {
            color: #3a96d3;
          }
        }
      }
    }
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  color: #fff;
  margin: 20px 0;
  a {
    font-weight: bold;    
    color: #fff;
  }
}
code {
  font-size: 80%;
}